footer{
    background-color: transparent;
    ul{
        justify-content: left;   
        list-style: none;
        display: flex;
        img{
            width: 40px;
            height: 40px;
        }
    }

}